ClienteTransmetro/src/conf/xml-resources/web-service-references/Servidor/wsdl/localhost_8080/SWTransmetro/Servidor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SW/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SW/" name="Servidor">
<types>
<xsd:schema>
<xsd:import namespace="http://SW/" schemaLocation="http://localhost:8080/SWTransmetro/Servidor?xsd=1"/>
</xsd:schema>
</types>
<message name="AgregarAdministrador">
<part name="parameters" element="tns:AgregarAdministrador"/>
</message>
<message name="AgregarAdministradorResponse">
<part name="parameters" element="tns:AgregarAdministradorResponse"/>
</message>
<message name="AgregarEstacionGeneral">
<part name="parameters" element="tns:AgregarEstacionGeneral"/>
</message>
<message name="AgregarEstacionGeneralResponse">
<part name="parameters" element="tns:AgregarEstacionGeneralResponse"/>
</message>
<message name="AgregarRutaClave">
<part name="parameters" element="tns:AgregarRutaClave"/>
</message>
<message name="AgregarRutaClaveResponse">
<part name="parameters" element="tns:AgregarRutaClaveResponse"/>
</message>
<message name="AgregarRutaGeneral">
<part name="parameters" element="tns:AgregarRutaGeneral"/>
</message>
<message name="AgregarRutaGeneralResponse">
<part name="parameters" element="tns:AgregarRutaGeneralResponse"/>
</message>
<message name="AgregarConductor">
<part name="parameters" element="tns:AgregarConductor"/>
</message>
<message name="AgregarConductorResponse">
<part name="parameters" element="tns:AgregarConductorResponse"/>
</message>
<message name="IniciarSesion">
<part name="parameters" element="tns:IniciarSesion"/>
</message>
<message name="IniciarSesionResponse">
<part name="parameters" element="tns:IniciarSesionResponse"/>
</message>
<message name="AgregarEstacionClave">
<part name="parameters" element="tns:AgregarEstacionClave"/>
</message>
<message name="AgregarEstacionClaveResponse">
<part name="parameters" element="tns:AgregarEstacionClaveResponse"/>
</message>
<message name="AgregarBus">
<part name="parameters" element="tns:AgregarBus"/>
</message>
<message name="AgregarBusResponse">
<part name="parameters" element="tns:AgregarBusResponse"/>
</message>
<message name="AgregarRuta">
<part name="parameters" element="tns:AgregarRuta"/>
</message>
<message name="AgregarRutaResponse">
<part name="parameters" element="tns:AgregarRutaResponse"/>
</message>
<message name="Asignar">
<part name="parameters" element="tns:Asignar"/>
</message>
<message name="AsignarResponse">
<part name="parameters" element="tns:AsignarResponse"/>
</message>
<message name="BuscarBus">
<part name="parameters" element="tns:BuscarBus"/>
</message>
<message name="BuscarBusResponse">
<part name="parameters" element="tns:BuscarBusResponse"/>
</message>
<portType name="Servidor">
<operation name="AgregarAdministrador">
<input wsam:Action="http://SW/Servidor/AgregarAdministradorRequest" message="tns:AgregarAdministrador"/>
<output wsam:Action="http://SW/Servidor/AgregarAdministradorResponse" message="tns:AgregarAdministradorResponse"/>
</operation>
<operation name="AgregarEstacionGeneral">
<input wsam:Action="http://SW/Servidor/AgregarEstacionGeneralRequest" message="tns:AgregarEstacionGeneral"/>
<output wsam:Action="http://SW/Servidor/AgregarEstacionGeneralResponse" message="tns:AgregarEstacionGeneralResponse"/>
</operation>
<operation name="AgregarRutaClave">
<input wsam:Action="http://SW/Servidor/AgregarRutaClaveRequest" message="tns:AgregarRutaClave"/>
<output wsam:Action="http://SW/Servidor/AgregarRutaClaveResponse" message="tns:AgregarRutaClaveResponse"/>
</operation>
<operation name="AgregarRutaGeneral">
<input wsam:Action="http://SW/Servidor/AgregarRutaGeneralRequest" message="tns:AgregarRutaGeneral"/>
<output wsam:Action="http://SW/Servidor/AgregarRutaGeneralResponse" message="tns:AgregarRutaGeneralResponse"/>
</operation>
<operation name="AgregarConductor">
<input wsam:Action="http://SW/Servidor/AgregarConductorRequest" message="tns:AgregarConductor"/>
<output wsam:Action="http://SW/Servidor/AgregarConductorResponse" message="tns:AgregarConductorResponse"/>
</operation>
<operation name="IniciarSesion">
<input wsam:Action="http://SW/Servidor/IniciarSesionRequest" message="tns:IniciarSesion"/>
<output wsam:Action="http://SW/Servidor/IniciarSesionResponse" message="tns:IniciarSesionResponse"/>
</operation>
<operation name="AgregarEstacionClave">
<input wsam:Action="http://SW/Servidor/AgregarEstacionClaveRequest" message="tns:AgregarEstacionClave"/>
<output wsam:Action="http://SW/Servidor/AgregarEstacionClaveResponse" message="tns:AgregarEstacionClaveResponse"/>
</operation>
<operation name="AgregarBus">
<input wsam:Action="http://SW/Servidor/AgregarBusRequest" message="tns:AgregarBus"/>
<output wsam:Action="http://SW/Servidor/AgregarBusResponse" message="tns:AgregarBusResponse"/>
</operation>
<operation name="AgregarRuta">
<input wsam:Action="http://SW/Servidor/AgregarRutaRequest" message="tns:AgregarRuta"/>
<output wsam:Action="http://SW/Servidor/AgregarRutaResponse" message="tns:AgregarRutaResponse"/>
</operation>
<operation name="Asignar">
<input wsam:Action="http://SW/Servidor/AsignarRequest" message="tns:Asignar"/>
<output wsam:Action="http://SW/Servidor/AsignarResponse" message="tns:AsignarResponse"/>
</operation>
<operation name="BuscarBus">
<input wsam:Action="http://SW/Servidor/BuscarBusRequest" message="tns:BuscarBus"/>
<output wsam:Action="http://SW/Servidor/BuscarBusResponse" message="tns:BuscarBusResponse"/>
</operation>
</portType>
<binding name="ServidorPortBinding" type="tns:Servidor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AgregarAdministrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarEstacionGeneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarRutaClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarRutaGeneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarConductor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IniciarSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarEstacionClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarBus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Asignar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarBus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servidor">
<port name="ServidorPort" binding="tns:ServidorPortBinding">
<soap:address location="http://localhost:8080/SWTransmetro/Servidor"/>
</port>
</service>
</definitions>