ClienteTransmetro/web/WEB-INF/wsdl/localhost_8080/SWTransmetro/Servidor.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://SW/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://SW/">

<xs:element name="AgregarAdministrador" type="tns:AgregarAdministrador"/>

<xs:element name="AgregarAdministradorResponse" type="tns:AgregarAdministradorResponse"/>

<xs:element name="AgregarBus" type="tns:AgregarBus"/>

<xs:element name="AgregarBusResponse" type="tns:AgregarBusResponse"/>

<xs:element name="AgregarConductor" type="tns:AgregarConductor"/>

<xs:element name="AgregarConductorResponse" type="tns:AgregarConductorResponse"/>

<xs:element name="AgregarEstacionClave" type="tns:AgregarEstacionClave"/>

<xs:element name="AgregarEstacionClaveResponse" type="tns:AgregarEstacionClaveResponse"/>

<xs:element name="AgregarEstacionGeneral" type="tns:AgregarEstacionGeneral"/>

<xs:element name="AgregarEstacionGeneralResponse" type="tns:AgregarEstacionGeneralResponse"/>

<xs:element name="AgregarRuta" type="tns:AgregarRuta"/>

<xs:element name="AgregarRutaClave" type="tns:AgregarRutaClave"/>

<xs:element name="AgregarRutaClaveResponse" type="tns:AgregarRutaClaveResponse"/>

<xs:element name="AgregarRutaGeneral" type="tns:AgregarRutaGeneral"/>

<xs:element name="AgregarRutaGeneralResponse" type="tns:AgregarRutaGeneralResponse"/>

<xs:element name="AgregarRutaResponse" type="tns:AgregarRutaResponse"/>

<xs:element name="Asignar" type="tns:Asignar"/>

<xs:element name="AsignarResponse" type="tns:AsignarResponse"/>

<xs:element name="IniciarSesion" type="tns:IniciarSesion"/>

<xs:element name="IniciarSesionResponse" type="tns:IniciarSesionResponse"/>

<xs:complexType name="AgregarRutaClave">
<xs:sequence>
<xs:element name="id_ruta" type="xs:int"/>
<xs:element name="id_estacion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarRutaClaveResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AgregarEstacionClave">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarEstacionClaveResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AgregarEstacionGeneral">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarEstacionGeneralResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AgregarConductor">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarConductorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AgregarAdministrador">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarAdministradorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AgregarBus">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarBusResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AgregarRuta">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarRutaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="IniciarSesion">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IniciarSesionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Asignar">
<xs:sequence>
<xs:element name="id_bus" type="xs:int"/>
<xs:element name="id_ruta" type="xs:int"/>
<xs:element name="id_conductor" type="xs:int"/>
<xs:element name="h_inicio" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="h_final" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AsignarResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AgregarRutaGeneral">
<xs:sequence>
<xs:element name="id_ruta" type="xs:int"/>
<xs:element name="id_estacion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarRutaGeneralResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>