ClienteTransmetro/web/WEB-INF/wsdl/localhost_8080/SWTransmetro/Servidor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SW/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SW/" name="Servidor">
<types>
<xsd:schema>
<xsd:import namespace="http://SW/" schemaLocation="http://localhost:8080/SWTransmetro/Servidor?xsd=1"/>
</xsd:schema>
</types>
<message name="AgregarEstacionClave">
<part name="parameters" element="tns:AgregarEstacionClave"/>
</message>
<message name="AgregarEstacionClaveResponse">
<part name="parameters" element="tns:AgregarEstacionClaveResponse"/>
</message>
<message name="IniciarSesion">
<part name="parameters" element="tns:IniciarSesion"/>
</message>
<message name="IniciarSesionResponse">
<part name="parameters" element="tns:IniciarSesionResponse"/>
</message>
<message name="AgregarAdministrador">
<part name="parameters" element="tns:AgregarAdministrador"/>
</message>
<message name="AgregarAdministradorResponse">
<part name="parameters" element="tns:AgregarAdministradorResponse"/>
</message>
<message name="metodo1">
<part name="parameters" element="tns:metodo1"/>
</message>
<message name="metodo1Response">
<part name="parameters" element="tns:metodo1Response"/>
</message>
<portType name="Servidor">
<operation name="AgregarEstacionClave">
<input wsam:Action="http://SW/Servidor/AgregarEstacionClaveRequest" message="tns:AgregarEstacionClave"/>
<output wsam:Action="http://SW/Servidor/AgregarEstacionClaveResponse" message="tns:AgregarEstacionClaveResponse"/>
</operation>
<operation name="IniciarSesion">
<input wsam:Action="http://SW/Servidor/IniciarSesionRequest" message="tns:IniciarSesion"/>
<output wsam:Action="http://SW/Servidor/IniciarSesionResponse" message="tns:IniciarSesionResponse"/>
</operation>
<operation name="AgregarAdministrador">
<input wsam:Action="http://SW/Servidor/AgregarAdministradorRequest" message="tns:AgregarAdministrador"/>
<output wsam:Action="http://SW/Servidor/AgregarAdministradorResponse" message="tns:AgregarAdministradorResponse"/>
</operation>
<operation name="metodo1">
<input wsam:Action="http://SW/Servidor/metodo1Request" message="tns:metodo1"/>
<output wsam:Action="http://SW/Servidor/metodo1Response" message="tns:metodo1Response"/>
</operation>
</portType>
<binding name="ServidorPortBinding" type="tns:Servidor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AgregarEstacionClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IniciarSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarAdministrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="metodo1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servidor">
<port name="ServidorPort" binding="tns:ServidorPortBinding">
<soap:address location="http://localhost:8080/SWTransmetro/Servidor"/>
</port>
</service>
</definitions>